@model IEnumerable<WorkerHours.Models.Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>רשימת עובדים</h1>

<p>
    <a asp-action="Create">יצירת עובד חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerHour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
            </td>
        </tr>
}

        <a asp-action="Index" asp-controller="Admin">Back to List</a>
    </tbody>
</table>
